@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'K2D', sans-serif;}
/*NAV HEADER Stuff*/
.container-nav{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),url(/Images/waterback.jpg);
    background-position: center;
    background-size: cover;
    padding-right: 8%;
    box-sizing: border-box;
}
 
  .navbar{
      height:12%;
      display: flex;
      align-items: center;
  }
  .logo{ /* Logo top left*/
      width: 22rem;
      cursor: pointer;
  }
  .menu{ /* Menu option top right*/
      width: 30px;
      cursor:pointer;
      padding-left: 100px;
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul li{
      list-style: none ;
      display: inline-block;
      margin-left: 60px;
  }
  nav ul li a{
      text-decoration: none;
      color: #fcf468;
      font-size: 1.5em;
  }
  nav a:hover{
    color: white;
  }


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

/* FOOOTWER */

 
  footer{
    background-image: linear-gradient(rgba(0,0,0,0),rgb(0, 0, 0)),url('/Images/black-screen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    padding: 20px 50px;
    min-height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

  }

footer .social-icons, footer .linkss{
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin:  10px 0;
flex-wrap: wrap;
}
footer .social-icons li, footer .linkss li{
  list-style: none;

}
footer .social-icons li a{
  font-size: 2em;
  color: #6886D7;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icons li a:hover{
  transform: translateY(-10px);
  color: #fff;
}
footer .linkss li a{
  font-size: 1.5em;
  color: #fcf468;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
}
footer .linkss li a:hover{
  color: white;

}
/* copy thing*/
footer p{
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1em;
}



/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
  /*Rows*/
  .row{
      display: flex;
      height: 88%;
      align-items: center;
  }
  /*Column*/
  .col{
      flex-basis: 49%;
      margin-left: 10%;
  }
  /*Main heading Welcome*/
  h1{
      color: #fcf468;
      font-size: 100px;
  }
  /*Card heading*/
  h5{
      color: #fcf468;
      text-shadow: 0 0 5px rgb(203, 234, 23);
      font-size: 40px;
  }
/*Index text*/
  p{
      color: #fcf468;
      font-size: 20px;
      line-height: 30px;

  }
  
  /*INdex button*/
  button{
      width: 180px;
      color:#fcf468;
      font-size: 17px;
      padding: 12px 0;
      background: #6886D7;
      border: 0;
      border-radius: 20px;
      outline: none;
      margin-top: 30px;
    font-weight: 900;
  cursor: pointer;  }

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

  /*Card proeprties*/
  .card{
      box-shadow: 0 0 5px rgb(242, 255, 0);
      width: 250px;
      height: 300px;
      display: inline-block;
      border-radius: 10px; /*roundness*/
      padding: 15px 25px; /*Text*/
      box-sizing: border-box;
      cursor:pointer;
      margin: 12px 15px; /*Space between*/
      background-position: center;
      background-size: cover;
      transition: transform 0.5s;
  }
  /*4 Cards main screen*/
.c1{
      background-image: linear-gradient(rgba(28,31,87, 0.7),rgba(0,0,0,0.7)), url(/Images/todos-website.PNG);

  }
.c2{
    background-image: linear-gradient(rgba(28,31,87, 0.7),rgba(0,0,0,0.7)),url(/Images/chronoshift.PNG);

}
.c3{
    background-image: linear-gradient(rgba(28,31,87, 0.7),rgba(0,0,0,0.7)),url(/Images/calckuatror.PNG);
}
.c4{
    background-image: linear-gradient(rgba(28,31,87, 0.7),rgba(0,0,0,0.7)),url(/Images/dawn\ \(1\).png);

}
.card:hover{
transform: translateY(-10px);
}
.card p{ /*Inner card title color*/ 
    text-shadow: 0 0 15px #000;
    font-size: 20px;
    color:#fff;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.project-container-nav{
  width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}
body{
  background-color: #1c1f57;

}

.pj {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),url(/Images/waterback.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h4,
h2,
h3 {
  margin: 0;
  color: #fcf468;
}
h2, h3{
  font-size: 2em;
font-weight: bold;
}

.p-pj {
  margin: 0;
  color: white;
}

.btn {
  display: inline-block;
  color: #fcf468;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
  background-color: #2690d4;
}

.btn:hover {
  color: #333;
}

/* Header Showcase */

#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;

}

#showcase .bg-image {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}

#showcase h2 {
  padding-top: 100px;
}

/* Section A */

#section-a {
  color: #333;
background-color: (rgba(28,31,87, 0.7),rgba(0,0,0,0.7));  
}

/* Section B */

#section-b {
  background-color: (rgba(28,31,87, 0.7),rgba(0,0,0,0.7));
}
#section-b ul {
  list-style: none;
}

#section-b li {
  background: #fff;
  color: #333;
}


/* Section D / Boxes */

#section-d .box {
  color: #fff;
}

#section-d .box:first-child {
  background: #2690d4;
}

.pj-footer{
  background-image: linear-gradient(rgba(0,0,0,0),rgb(0, 0, 0)),url('/Images/black-screen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,.5);
  width: 100%;
  padding: 20px 50px;
  min-height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
margin-top: 10em;
}

footer .social-icons, footer .linkss{
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin:  10px 0;
flex-wrap: wrap;
}
footer .social-icons li, footer .linkss li{
list-style: none;

}
footer .social-icons li a{
font-size: 2em;
color: #6886D7;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}

footer .social-icons li a:hover{
transform: translateY(-10px);
color: #fff;
}
footer .linkss li a{
font-size: 1.5em;
color: #fcf468;
margin: 0 10px;
display: inline-block;
text-decoration: none;
}
footer .linkss li a:hover{
color: white;

}
/* copy thing*/
footer p{
color: white;
text-align: center;
margin-top: 15px;
margin-bottom: 10px;
font-size: 1em;
}



