
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'K2D', sans-serif;}
/*NAV HEADER Stuff*/
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),url(/Images/waterback.jpg);
    padding-left: 8%;
    background-position: center;
    background-size: cover;
    padding-right: 8%;
    box-sizing: border-box;
}
 
  .navbar{
      height:12%;
      display: flex;
      align-items: center;
  }
  .logo{ /* Logo top left*/
      width: 17rem;
      cursor: pointer;
  }
  .menu{ /* Menu option top right*/
      width: 30px;
      cursor:pointer;
      padding-left: 100px;
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul li{
      list-style: none ;
      display: inline-block;
      margin-left: 60px;
  }
  nav ul li a{
      text-decoration: none;
      color: #fcf468;
      font-size: 1.5em;
  }
  nav a:hover{
    color: white;
  }

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

/* FOOOTWER */

 


  footer{
    background-image: linear-gradient(rgba(0,0,0,0),rgb(0, 0, 0)),url('/Images/balckscreen.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    padding: 20px 50px;
    min-height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

  }

footer .social-icons, footer .linkss{
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin:  10px 0;
flex-wrap: wrap;
}
footer .social-icons li, footer .linkss li{
  list-style: none;

}
footer .social-icons li a{
  font-size: 2em;
  color: #6886D7;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icons li a:hover{
  transform: translateY(-10px);
  color: #fff;
}
footer .linkss li a{
  font-size: 1.5em;
  color: #fcf468;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
}
footer .linkss li a:hover{
  color: white;

}
/* copy thing*/
footer p{
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1em;
}



/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
  /*Rows*/
  .row{
      display: flex;
      height: 88%;
      align-items: center;
  }
  /*Column*/
  .col{
      flex-basis: 50%;
  }
  /*Main heading Welcome*/
  h1{
      color: #fcf468;
      font-size: 100px;
  }
  /*Card heading*/
  h5{
      color: #fcf468;
      text-shadow: 0 0 5px rgb(203, 234, 23);
      font-size: 40px;
  }
/*Index text*/
  p{
      color: #fcf468;
      font-size: 20px;
      line-height: 30px;

  }
  
  /*INdex button*/
  button{
      width: 180px;
      color:#fcf468;
      font-size: 17px;
      padding: 12px 0;
      background: #6886D7;
      border: 0;
      border-radius: 20px;
      outline: none;
      margin-top: 30px;
    font-weight: 900;
  cursor: pointer;  }

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

  /*Card proeprties*/
  .card{
      box-shadow: 0 0 5px rgb(242, 255, 0);
      width: 250px;
      height: 300px;
      display: inline-block;
      border-radius: 10px; /*roundness*/
      padding: 15px 25px; /*Text*/
      box-sizing: border-box;
      cursor:pointer;
      margin: 12px 15px; /*Space between*/
      background-position: center;
      background-size: cover;
      transition: transform 0.5s;
  }
  /*4 Cards main screen*/
.c1{
      background-image: linear-gradient(rgba(28,31,87, 0.7),rgba(0,0,0,0.7)), url(/Images/todos-website.PNG);

  }
.c2{
    background-image: linear-gradient(rgba(28,31,87, 0.7),rgba(0,0,0,0.7)),url(/Images/chronoshift.PNG);

}
.c3{
    background-image: linear-gradient(rgba(28,31,87, 0.7),rgba(0,0,0,0.7)),url(/Images/calckuatror.PNG);
}
.c4{
    background-image: linear-gradient(rgba(28,31,87, 0.7),rgba(0,0,0,0.7)),url(/Images/dawn\ \(1\).png);

}
.card:hover{
transform: translateY(-10px);
}
.card p{ /*Inner card title color*/ 
    text-shadow: 0 0 15px #000;
    font-size: 20px;
    color:#fff;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.carousel {
  height: auto;
  box-shadow: #21273C;
}
.carousel-inner {
  position: relative;
   overflow: hidden;
}

.carousel-open:checked + .carousel-item {
position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  height: 800px;
  overflow: hidden; 
}

.carousel-item img {
  display: block;
  max-width: 100%;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(136, 187, 221, 1);
  color: #aaaaaa;
}


#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6{
display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
  border: black;
  border-width: 3px;
}

.carousel-bullet:hover {
  color: rgba(136, 187, 221, 1);
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 50000, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}