@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'K2D', sans-serif;}
/*NAV HEADER Stuff*/
.container-nav{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),url(/Images/waterback.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}
 
  .navbar{
      height:12%;
      display: flex;
      align-items: center;
  }
  .logo{ /* Logo top left*/
      width: 22rem;
      cursor: pointer;
  }

  nav{
    flex: 1;
    text-align: right;
  }
  nav ul li{
      list-style: none ;
      display: inline-block;
      margin-left: 60px;
      padding-right: 20px;
  }
  nav ul li a{
      text-decoration: none;
      color: #fcf468;
      font-size: 1.5em;
      text-shadow: 0 0 5px rgb(203, 234, 23);

  }
  nav a:hover{
    color: white;
  }


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

/* FOOOTWER */

 
  footer{
    background-image: linear-gradient(rgba(0,0,0,0),rgb(0, 0, 0)),url('/Images/black-screen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,.5);
    padding: 20px 50px;
    min-height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

  }

footer .social-icons, footer .linkss{
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin:  30px 0;
flex-wrap: wrap;
}
footer .social-icons li, footer .linkss li{
  list-style: none;

}
footer .social-icons li a{
  font-size: 2em;
  color: #6886D7;
  margin: 0 17px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icons li a:hover{
  transform: translateY(-10px);
  color: #fff;
}
footer .linkss li a{
  font-size: 1.5em;
  color: #fcf468;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
}
footer .linkss li a:hover{
  color: white;

}
/* copy thing*/
footer p{
  color: white;
  text-align: center;
  margin-bottom: 50px;
  font-size: 1em;
}



/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
  /*Rows*/
  .row{
      display: flex;
      height: 88%;
      align-items: center;
  }
  /*Column*/
  .col{
      flex-basis: 49%;
      margin-left: 10%;
  }
  /*Main heading Welcome*/
  h1{
      color: #fcf468;
      font-size: 100px;
      text-shadow: 0 0 5px rgb(203, 234, 23);


  }
  /*Card heading*/
  h5{
      color: #fcf468;
      text-shadow: 0 0 5px rgb(203, 234, 23);
      font-size: 40px;
      
  }
/*Index text*/
  p{
      color: #fcf468;
      font-size: 20px;
      line-height: 30px;
      text-shadow: 0 0 5px rgb(203, 234, 23);


  }
  
  /*INdex button*/
  .button{
    background-color: #6886D7;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: bolder;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  a.button:hover {
    background-color: #101268;
  }
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

  /*Card proeprties*/
  .card{
      box-shadow: 0 0 5px rgb(242, 255, 0);
      width: 250px;
      height: 300px;
      display: inline-block;
      border-radius: 10px; /*roundness*/
      padding: 15px 25px; /*Text*/
      box-sizing: border-box;
      cursor:pointer;
      margin: 12px 15px; /*Space between*/
      background-position: center;
      background-size: cover;
      transition: transform 0.5s;
  }
  /*4 Cards main screen*/
.c1{
      background-image: linear-gradient(rgba(28,31,87, 0.7),rgba(0,0,0,0.7)), url(/Images/todos-website.PNG);

  }
.c2{
    background-image: linear-gradient(rgba(28,31,87, 0.7),rgba(0,0,0,0.7)),url(/Images/chronoshift.PNG);

}
.c3{
    background-image: linear-gradient(rgba(28,31,87, 0.7),rgba(0,0,0,0.7)),url(/Images/calckuatror.PNG);
}
.c4{
    background-image: linear-gradient(rgba(28,31,87, 0.7),rgba(0,0,0,0.7)),url(/Images/dawn\(1\).png);

}
.card:hover{
transform: translateY(-10px);
}
.card p{ /*Inner card title color*/ 
    text-shadow: 0 0 15px #000;
    font-size: 20px;
    color:#fff;
    text-shadow: 0 0 5px rgb(203, 234, 23);

}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
Projects Page*/

.project-container-nav{
  width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}
body{
  background-color: #1c1f57;

}

.pj {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),url(/Images/waterback.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

.img-pj{
  width: 100%;
  height: 30%;
}

h4,
h2,
h3 {
  color: #fcf468;
  text-shadow: 0 0 5px rgb(203, 234, 23);

}
h2, h3{
  font-size: 2em;
font-weight: bold;
}
h3{
  margin-top: 90px}

.p-pj {
color: white;
margin: 50px 20em;
line-height: 1.7em;
font-size: 1.2em;
text-shadow: 0 0 5px rgb(203, 234, 23);

}




/* Section A */

#section-a {
  color: #333;
background-color: (rgba(28,31,87, 0.7),rgba(0,0,0,0.7));  
}

/* Section B */

#section-b {
  background-color: (rgba(28,31,87, 0.7),rgba(0,0,0,0.7));
  display: flex;
  justify-content: center;


}
#section-b ul {
  list-style: none;
}

#section-b li {
  background: #fff;
  color: #333;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

Resume*/


body {
  background-color: #191a1d;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),url(/Images/waterback.jpg);
  background-position: center;
  background-size: cover;
}

h6 {
  font-size: 3em;
  font-weight: 700;
  color: #fcf468;
  line-height: 100px;
  text-shadow: 0 0 5px rgb(203, 234, 23);

}

h7 {
  font-size: 2em;
  color: #6886D7;
  text-shadow: 0 0 5px rgb(203, 234, 23);
  line-height: 100px;
}

.p-resume {
  color: #ccc;
  font-size: 20px;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 10px;
}
  b{
    font-weight: 600;
  }


hr {
  background-image: linear-gradient(
    to bottom left,
    rgb(238, 255, 0) 0,
    rgb(9, 157, 255) 51%,
    rgb(25, 22, 150) 65%,
    #101268 80%
  );
  border: 0;
  height: 10px;
  width: 30%;
  margin-left: 0%;
  border-radius: 100px;
  margin-top: 100px;

}

.resume {
  border-radius: 15px;
  border: 10px solid green;  border-image-source: linear-gradient(
    to bottom left,
    rgb(238, 255, 0) 0,
    rgb(9, 157, 255) 51%,
    rgb(25, 22, 150) 65%,
    #101268 80%
  );
  border-image-slice: 20;
  padding: 3em;
  display: flex;
  justify-content: space-around;
}

#attribute {
  height: 350px;
}

.resume-body :not(footer){
  margin: 0 1%;
}
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

About Me*/


h8,
h9 {
  color: white;
align-items: center;
align-content: center;}
.text-center {
color: #fcf468;  
margin-bottom: 100px;
  justify-self: center;
  padding-left: 27%;
  font-size: 3em;
}
p.lead {
  color: white;
  margin-bottom: 100px;
  width: 50%;
  justify-self: center;
  padding-left: 27%;

}
.scroll-panel {
  padding-top: 50px;
}

#about_col > p {
  padding-top: 70px;
}
.pfp-box {
padding-left: 10%;
align-self: center;
padding-bottom: 100px;
color: white;
width: 50%;
justify-self: center;
padding-left: 27%;

}
  .about-navbar{
    height: 12%;
    display: flex;
    align-items: center;
  }
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

Projects */
h9 {
    font-size: 4rem;
    margin-top:0;
    margin-bottom: 0.5em;
    line-height: 100px;
    color: #fcf468;
    text-shadow: 0 0 5px rgb(203, 234, 23);

}
.project-art {
  padding: 2em;
}
.project-art {
  width: 58%;
}
.project-art {
  padding: 6rem;
}
.project-img{
  width: 10%;
  align-self: baseline;
  flex-direction: row;
  height: 100vh;
}
.tour-content{
  display: flex;

}
.project-text{
  padding: 30px;
  line-height: 38px;
  color: white;
  text-shadow: 0 0 5px rgb(203, 234, 23);
  width: 1000px;
}
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

Interact story */

.inter-img img {
  width: 60%;
  object-fit: cover;
  position: relative;
  left: 100px;
  top: 400px;
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

